keybinds {
  unbind "Ctrl b" "Ctrl s" "Ctrl q" "Alt p"
  normal {
    bind "Ctrl k" { SwitchToMode "scroll"; }
    bind "Ctrl q" { Detach; }
    bind "Alt 1" { GoToTab 1; }
    bind "Alt 2" { GoToTab 2; }
    bind "Alt 3" { GoToTab 3; }
    bind "Alt 4" { GoToTab 4; }
    bind "Alt 5" { GoToTab 5; }
    bind "Alt 6" { GoToTab 6; }
    bind "Alt 7" { GoToTab 7; }
    bind "Alt 8" { GoToTab 8; }
    bind "Alt 9" { GoToTab 9; }
  }
  session {
    bind "Ctrl k" { SwitchToMode "scroll"; }
    bind "Ctrl q" { Detach; }
  }
  tab {
    bind "Alt Shift Left" { MoveTab "Left"; }
    bind "Alt Shift Right" { MoveTab "Right"; }
    bind "a" { MoveTab "Left"; }
  }
}
