layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/tab-bar.wasm" {
                show_tab_indices true
            }
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab {
        pane split_direction="vertical" {
            pane command="claude" size="50%" {
                args "--dangerously-skip-permissions"
            }
            pane stacked=true size="50%" {
                pane command="beans-serve" {
                    args "--cors-origin" "*"
                }
                pane expanded=true
            }
        }
    }
}
