layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/tab-bar.wasm" {
                show_tab_indices true
            }
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:compact-bar" {
                tooltip "F1"
            }
        }
    }
    tab {
        pane split_direction="vertical" {
            pane command="claude" size="50%"
            pane size="50%"
        }
    }
}
