plugins {
    zjstatus-hints location="file:~/.config/zellij/plugins/zjstatus-hints.wasm" {
        // Maximum number of characters to display
        max_length 40 // 0 = unlimited
        // String to append when truncated
        overflow_str "..." // default
        // Name of the pipe for zjstatus integration
        pipe_name "zjstatus_hints" // default
        // Hide hints in base mode (a.k.a. default mode)
        // E.g. if you have set default_mode to "locked", then
        // you can hide hints in the locked mode by setting this to true
        hide_in_base_mode false // default
    }
    compact-bar location="zellij:compact-bar" {
        tooltip "F1"
    }
}

load_plugins {
    // Load at startup
    zjstatus-hints
}
