plugins {
    // https://github.com/ivoronin/zellij-tab-bar-indexed/?tab=readme-ov-file#tab-bar-plugin
    tab-bar location="file:~/.config/zellij/plugins/tab-bar.wasm" {
        show_tab_indices true
    }    
    compact-bar location="zellij:compact-bar" {
        tooltip "F1"
    }
}

load_plugins {
    // Load at startup
    zjstatus-hints
}
